@charset "uft=8";

body {
  max-width: 800px;
  margin: 0;
  padding: 0;
  background-color: #fff4f4;
  color: #333333;
  font-size: 20px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

/* img {
  vertical-align: bottom
} */

ul{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

/*リンクの設定*/

a {
  color: #485859;
  text-decoration: none;
}

a:visited {
  color: #53727d;
}

a:hover {
  color: #2c4f54;
  text-decoration: underline;
}

/* リンクの設定　ここまで */

header {
  max-width: 800px;
  height: 140px;
  margin-bottom: 30px;
}


.logo {
  margin-left: 30px;
  font-size: 30px;
  /* background: blue; */
}
.forgit {
  font-size: 20px;
}

.nav {
  margin-right: 30px;
  /* background: pink; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 40px 20px 0 0 ;
  padding: 0;
  display: flex;
  justify-content: end;
}

nav a {
  width: 90px;
  text-align: center;
  line-height: 40px;
  display: block;
  flex: 1;
  
}


.btn a {
  color: #d0576b;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 10px 0 0 30px;
  padding: 10px 10px 10px 10px;
}

nav li a:hover {
  border-bottom: 1px solid #2c4f54;
  padding-bottom: 3px;
  text-decoration: none;
}

.content {
  margin: 0 auto;
  
}

table {
  font-size: 18px;
}

footer {
  text-align: left;
  margin: 50px 0 0 30px;
  color: #887f7a;
}

#index h1 {
  font-size: 25px;
  line-height: 1.5;
  color: #544a47;
  margin: auto auto 15px 30px;
  
}

#index h2 {
  font-size: 20px;
  color: #544a47;
  margin: auto auto auto 30px;
}


#index .aaa {
  margin: -15px 0 20px 40px;
  padding: -10px;
}


#index th {
  width: 200px;
}

#index td {
  width: 400px;
}

.my {
  font-size: 24px;
  font-weight: 600;
  margin: auto auto auto 40px;
}

#about table {
  margin-bottom: 20px;
  margin-left: 30px ;
  border:1px solid #c0c0c0;
  border-collapse: collapse;
  border-spacing: 0;
}

#about tr {
  height: 40px;
}

#about th {
  width: 200px;
  border: 1px solid #c0c0c0;
}

#about td{
  width: 500px;
  padding: 10px 15px 10px 20px;
  border: 1px solid #c0c0c0;
}


.novel {
  margin-left: 50px;
  margin-right: 50px;
  word-break: break-all;
}

.novel h1 {
  font-size: 22px;
}

.novel p {
  font-size: 18px;
  max-width: 600px;
}

.plus  {
  font-size: 15px;
  margin: 20px auto 20px 100px;
}

.senden {
  font-size: 15px;
  margin-left: 50px;
  margin-top: 20px;
}

.senden h2 {
font-size: 15px;
color: #544a47;
}

.senden table {
  margin: -15px auto auto 30px;
}

.senden th {
  width: 300px;
}

.senden td {
  width: 500px;
}

.short dl {
  margin: 0 0 30px 40px;;
}

.short dt a {
  line-height: 25px;
  color: #333333;
  padding: 0 20px 4px 15px;
  /* background-color: red; */
  margin: 0 0 25px 0;
}

.short dt a:hover {
  /* color:  */
  border-bottom: solid 1px;
  text-decoration: none;
  
}

.short dd {
  margin: 5px 0 15px 30px;
  font-size: 17px;
  /* background-color: gold; */
}





/* 以下レスポンシブ対応　600ｐｘ以下で変更？*/

@media (max-width: 600px) {
 
  body {
    font-size: 4vw;
    background-color: #cffacf;
    width: 100%;
  }

  a {
    color: #333333;
    text-decoration: none;
  }
  
  a:visited {
    color: #333333;
  }
  
  a:hover {
    color: #333333;
    text-decoration: underline;
  } 

  .not {
    display: none;
  }

  .forgit {
    font-size: 4vw;
  }

  h1 {
    font-size: 8vw;
  }
  
  h2 {
    font-size: 6vw;
  }
  
  header {
    /* width: auto; */
    height: auto;
    margin: 5% 5% 15% 5%;
    display: block;
    margin-bottom: 5px;
    display: block;
  }
  
  .container {
    display: block;
  }

  .logo {
    text-align: center;
    display: block;
    width: 290px;
    line-height: 1;
    /* height: 1; */
    /* background-color: tomato; */
  }
  
  .logo a {
    font-size: 8vw;
    
  }

  .btn {
    margin: 0;
  }

  .btn a {
    color: #d0576b;
    text-decoration: none
    ;
  }

  nav a {
    padding-bottom: 10px;
  }

  .content {
    margin-top: 20px;
  }


  table {
    border: hidden;
    margin-left: 5%;
    display: block;
    width: 100%;
  }
  
  th {
    /* border: hidden; */
    display: block;
    width: 100%;
  }

  td {
    border: hidden;
    display: block;
    width: 100%;
  }


  dl {
    width: 100%;
    border: hidden;
    display: block;
    /* background: orange; */
  }
  
  dt {
    max-width: 350px;
    border: hidden;
    display: block;
    /* background: orchid; */
  }
  
  
  .short dt a {
    width: auto;
    font-size: 4vw;
    color: black;
    /* background: blue; */
  }
  .short dt a :hover {
    text-decoration: none;
  }
  .novel p {
     width: 100%;
  }



}
